* { box-sizing: border-box; }

h1 {
  text-align: center;
}

html, body {
  margin: 20px;
  /*display: flex;*/
  justify-content: center;
  padding-top: 20px; /*Make space for the navbar*/
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  background: #eee;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  padding-left: 1rem;
}

.pot-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.strava-embed-placeholder {
  width: 50%;
  margin: 50% auto;
  text-align: center;
}

.p-date {
  margin-top: -1em;
  margin-bottom: -0.5em;
  font-style: italic;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 5px 10px;
}

td {
  text-align: center;
}

td:nth-child(6) { /* Select the 4th column */
  text-align: left;
}


/*For the chart*/
.chart {
  display: grid;
  height: 30vh;
  width: 90vw;
  grid-template-columns: repeat(500, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-row-gap: 5px;
  padding: 5px 10px;
}

.chart [class*="bar"] {
  grid-column-start: 1;
  border-radius: 5px 5px 5px 5px;
  background-color: #87bba2;
  color: white;
  padding: 2px;
}

.chart .bar-10 {
  grid-column-end: 140;
  background-color: #4e7864;
}

.bar-1 {
  grid-column-end: 211;
}

.bar-2 {
  grid-column-end: 436
}

.bar-3 {
  grid-column-end: 404
}

.bar-4 {
  grid-column-end: 410
}

.bar-5 {
  grid-column-end: 414
}

.bar-6 {
  grid-column-end: 368
}

.bar-7 {
  grid-column-end: 290
}

.bar-8 {
  grid-column-end: 359
}

.bar-9 {
  grid-column-end: 343
}







/*
@mixin chartValue($data) {
  $totalRows: 101;
  $result: $totalRows - $data;
  grid-row-start: $result;
}

.bar-1 {
  @include chartValue(20);
}
*/
